{
  "root": true,
  "extends": [
    "@react-native-community/eslint-config",
    "standard-with-typescript",
    "eslint-config-prettier",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-native", "import"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./tsconfig.json"],
    "sourceType": "module"
  },
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "react/prop-types": "off",
    "import/extensions": "off",
    "eol-last": 0,
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "react-hooks/exhaustive-deps": "warn",
    "max-len": ["error", { "code": 120 }],
    "brace-style": 0,
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": ["error", "beside"],
    "arrow-body-style": 1,
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "*", "next": "export" }
    ],
    "import/prefer-default-export": "off",
    "@typescript-eslint/strict-boolean-expressions": 0,
    "default-param-last": "off",
    "@typescript-eslint/default-param-last": "off",
    "import/no-unresolved": "off",
    "import/named": "warn",
    "import/namespace": "warn",
    "import/no-named-as-default": "off",
    "import/export": "warn",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "parent", "sibling", "index"],
        "newlines-between": "never",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
